# Analysis Report IV

## Selections and Frequencies

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('dataset/aluguel_residencial.csv', sep = ";")
data

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [9]:
#selection with 'apartments'

selection = data['Tipo'] == 'Apartamento'     #Cria uma série booleana

apartaments = data[selection]

n1 = apartaments.shape[0]

n1

19532

In [12]:
#selection with 'Home'

selection = (data['Tipo'] == 'Casa') | (data['Tipo'] == 'Casa de Condomínio') | (data['Tipo'] == 'Casa de Vila')    #Cria uma série booleana

home = data[selection]

n2 = home.shape[0]

n2

2212

In [13]:
#selection: properties with 60 <= area <= 100m2

selection = (data['Area'] >= 60) & (data['Area'] <= 100)    #Cria uma série booleana

area = data[selection]

n3 = area.shape[0]

n3

8719

In [14]:
#selection: properties with number of bedrooms >= 4 and rent <= 2000 reais 

selection = (data['Quartos'] >= 4) & (data['Valor'] < 2000)    #Cria uma série booleana

bedrooms_rent = data[selection]

n4 = bedrooms_rent.shape[0]

n4

41

In [16]:
print("Number of apartaments: {}".format(n1))
print("Number of houses: {}".format(n2))
print("Number of properties with 60 <= area <= 100m2: {}".format(n3))
print("Number of properties with number of bedrooms >= 4 and rent <= 2000 reais: {}".format(n4))

Number of apartaments: 19532
Number of houses: 2212
Number of properties with 60 <= area <= 100m2: 8719
Number of properties with number of bedrooms >= 4 and rent <= 2000 reais: 41